
<header class="header">
    <h1>Das Projekt</h1>
</header>
<main class="container">
    <div class="row">
        <article class="box1Transparent padding" id="uebersicht">
            <h3>Überblick</h3>
            <div class="row">
                <p class="col-xs-12 col-xl-3">Das Projekt "Stolpersteine" vom Künstler <a href="#">Gunther Demnig</a> soll im Nationalsozialismus verfolgten und ermordeten Menschen gedenken.
                    Hierzu wurden und werden an diversen Orten beschriftete Steine in den Boden eingelassen</p>
                <div class="col-xs-12 col-xl-9 text-center">
                    <img src="/images/bild1.jpg" height="600" width="397" class="img-fluid" alt="Bild nicht gefunden :(">
                    <img src="/images/bild2.jpg" height="600" width="385" class="img-fluid" alt="Bild nicht gefunden :(">
                    <img src="/images/bild3.jpg" height="600" width="404" class="img-fluid" alt="Bild nicht gefunden :(">
                    <img src="/images/bild4.jpg" height="600" width="399" class="img-fluid" alt="Bild nicht gefunden :(">
                </div>

            </div>
        </article>
    </div>
    <div class="row">
        <article class="box2White padding col-xs-12 col-md-6" id="article1">
            <h3>Idee</h3>
            <p>Das Projekt "Stolpersteine" vom Künstler <a>Gunther Demnig</a> soll im Nationalsozialismus verfolgten und ermordeten Menschen gedenken</p>
        </article>
        <article class="box2White padding col-xs-12 col-md-6" id="article2">
            <h3>Umsetzung</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </article>
    </div>
</main>
