
<header class="header">
    <h1>Das Projekt</h1>
</header>
<main class="container">
    <div class="row p-0">
        <article class="box1Transparent padding" id="uebersicht">
            <h3>Überblick</h3>
            <div class="row">
                <p class="col-12">Das Projekt "Stolpersteine" vom Künstler <strong>Gunther Demnig</strong> soll im Nationalsozialismus verfolgten und ermordeten Menschen gedenken.
                    Hierzu wurden und werden an diversen Orten beschriftete Steine in den Boden eingelassen.</p>
            </div>
        </article>
    </div>
    <div class="row p-0">
        <article class="box2White padding col-12 col-md-6" id="article1">
            <div class="row">
            <h3 class="col-12">Idee</h3>
            <p class="col-12 col-md-6">Das Projekt "Stolpersteine" vom Künstler <a>Gunther Demnig</a> soll im Nationalsozialismus verfolgten und ermordeten Menschen gedenken</p>
            <div class="picwrapper col-12 col-xl-6">
            <img src="/images/bild3.jpg" height="400" width="185" class="img-fluid " alt="Bild nicht gefunden :(">
            </div>
            <p class="picture-legend col-10 col-xl-6">Gunter Demnig beschäftigt sich seit 1998 mit der Thematik</p>
            </div>
            <div class="row">
            <div class="picwrapper col-12 col-xl-6">
               <img src="/images/bild2.jpg" height="600" width="385" class="img-fluid" style="margin-bottom: 1rem" alt="Bild nicht gefunden :(">
            </div>
            <section class="col-12 col-xl-6">
            <h6>Warum "Stolpersteine"?</h6>
            <p>Mit dem Namen des Kunstprojektes assoziiert Gunther Demnig ein "gedanklcihes Stolpern" beim Betrachter.</p>
            <p>Durch ihre goldene Farbe stechen die Steine aus dem gewöhnlichen Pflaster heraus, was diesen Effekt begünstigt.</p>
            </section>
            </div>
        </article>
        <article class="box2White padding col-12 col-md-6" id="article2">
            <h3>Umsetzung</h3>
            <div class="row">
                         <div class="picwrapper col-12 col-xl-6">
                            <img src="/images/bild1.jpg" height="600" width="385" class="img-fluid" style="margin-bottom: 1rem" alt="Bild nicht gefunden :(">
                        </div>
                 <div class="col-12 col-xl-6">
                   <h6>Das Material</h6>
                   <p>Die Steine sind aus einer Messingplatte gefertigt, in diese auch die Inschrifft geschlagen wird.
                   Diese werden dann geformt und mit Beton untergossen, sodass ein Stein entsteht.</p>
                 </div>
            </div>
            <div class="row">

                             <div class="col-12 col-xl-6">
                               <h6>Schema</h6>
                               <p>Die Steine sind aus einer Messingplatte gefertigt, in diese auch die Inschrifft geschlagen wird.
                               Diese werden dann geformt und mit Beton untergossen, sodass ein Stein entsteht.</p>
                             </div>
                             <div class="picwrapper col-12 col-xl-6">
                                 <img src="/images/bild4.jpg" height="600" width="385" class="img-fluid" alt="Bild nicht gefunden :(">
                                 <p class="picture-legend ">Das Endresultat</p>
                             </div>
            </div class="row">
            <div class="col-12 col-xl-6">
                                           <h6>Familienzusammenführung</h6>
                                           <p>Um die Verstorbenen an ihrer Gedenkstätte mit ihren Familien zusammenzuführen,
                                           wird für überlebende Familienmitglieder dieser Adresse ebenfalls ein Stein hinzugefügt..</p>
                                         </div>
            <div>


        </article>
    </div>
</main>
