<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Stolpersteine</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/stepstones.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top very-dark-navbar">
        <a class="navbar-brand" href="#">Stolpersteine in Hannover</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Startseite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Map">Karte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="ProjectOverview">Das Projekt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row" style="margin:0px;">
        <div class="col-lg-1"></div>

        <div class="col-lg-10" style="padding-top:4px">
            @RenderBody()
        </div>

        <div class="col-lg-1" style="padding-right:0px;"></div>
    </div>
        <footer class="fixed-bottom">
            <p>Phillip, Julian und Eva</p>
            <p>Expo Plaza 3</p>
            <p>30539 Hannover</p>
        </footer>

        @RenderSection("Scripts", required: false)
        <!-- Which Bootstrap grid System used -->
        <div class="device-width visible-xs visible-xs-block" id="xs"></div>
        <div class="device-width visible-sm visible-sm-block" id="sm"></div>
        <div class="device-width visible-md visible-md-block" id="md"></div>
        <div class="device-width visible-lg visible-lg-block" id="lg"></div>
</body>
</html>
